{% extends 'base.html' %}
{% block titulo %}
Registro usuario
{% endblock %}



{% block contenido %}
<center>
    <h1>foodrosif!</h1>
</center>

<div class="">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="alert alert-danger">
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>

<div class="register">
    <h1>Registro</h1>
    <div class="links">
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}" class="active">Register</a>
    </div>
    <form action="{{ url_for('register') }}" method="post" autocomplete="off">
        <label for="username">
            <ion-icon name="person"></ion-icon> 
        </label>
        <input type="text" name="usuario" placeholder="Username" id="usuario" required>
        <label for="password">
            <ion-icon name="lock"></ion-icon>
        </label>
        <input type="password" name="contraseña" placeholder="Password" id="contraseña" required>
        <label for="email">
            <ion-icon name="mail"></ion-icon>
        </label>
        <input type="email" name="email" placeholder="Email" id="email" required>
        <div class="msg">{{ msg }}</div>
        <input type="submit" value="Register">
    </form>
</div>


{% endblock %}